{% extends "base.html" %}

{% block title %}
5 for 5 -- Welcome
{% endblock %}

{% block content %}
	<article>
		<header>
			<h1>Welcome</h1>
			<p>5 for 5 is an api. Or actually, its a demo</p>
		</header>
		<section>
			<h2>Recently Added</h2>
<!--			{% if new_bookmarks %}
				<ul>
				{% for bm in new_bookmarks %}
					<li>{{ bm.user }} added <a href="{{ bm.url }}">{{ bm.url }}</a></li>
				{% endfor %}
				</ul>
			{% else %}
				No Bookmarks yet.
			{% endif %}
-->
		</section>
		<section>
			<h2>article section h2</h2>
			<p>Loren ipsum dolor sit amet</p>
		</section>

	</article>
{% endblock %}